<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            P2P call sample
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-row style="height: 15px"></ion-row>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-label color="primary">
                {{infoLabel}}
            </ion-label>
        </ion-row>
        <ion-row style="height: 80px; padding: 20px 0">
            <ion-input placeholder="Enter number" [(ngModel)]="opponentId"></ion-input>
        </ion-row>
        <ion-row>
            <div *ngIf="!onCall; else hangupButton">
                <ion-button color="primary" (click)="onClickCall($event)">
                    Call
                </ion-button>
            </div>
            <ng-template #hangupButton>
                <ion-button color="danger" (click)="onClickHangUp($event)">
                    HangUp
                </ion-button>
            </ng-template>
        </ion-row>
        <ion-row id="local-stream"></ion-row>
        <ion-row id="remote-stream"></ion-row>
    </ion-grid>
</ion-content>
